@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

.dashboard {
  margin-top: 10vh;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.calltoaction {
  width: 50%;
  font-family: "Space Mono", monospace;
  color: #403d52;
}

.calltoaction p,
.calltoaction button {
  font-family: "Montserrat", sans-serif;
}

.calltoaction button {
  width: fit-content;
}

.illustration {
  position: relative;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.illustration img {
  width: 100%;
  height: fit-content;
}

.illustration img {
  width: 85%;
  height: 90%;
}

@media (max-width: 576px) {
}

@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
    margin-top: 0vh;
  }

  .calltoaction {
    width: 100%;
  }
  .calltoaction h1 {
    font-size: 1.7rem;
  }

  .calltoaction p {
    font-size: 0.85rem;
  }

  .illustration {
    position: relative;
    width: 100%;
    height: 80%;
  }

  .illustration img {
    width: 70%;
    padding-top: 5% !important;
    margin: 0 14%;
  }
}

@media (max-width: 992px) {
}

@media (max-width: 1200px) {
}
