.pallete {
  display: flex;
  width: 80%;
  box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.12);
  margin: 7rem auto;
  border-radius: 12px;
  padding: 1%;
  font-family: "Montserrat", sans-serif;
}

.project_pic {
  width: 50%;
  margin: 1rem;
  border-radius: 12px;
}

.project_pic img {
  width: 100%;
  border-radius: 12px;
}

.project_desc {
  width: 50%;
  margin: 1rem;
  border-radius: 12px;
}

#project_title {
  font-family: "Space Mono", monospace;
}

#project_content {
  font-size: 15px;
}

.tech_stack {
  display: flex;
}

.code_demo_btns {
  display: flex;
}

.demo {
  background-color: #6c63ff !important;
  border-color: #6c63ff !important;
  margin: 2px;
  transition: 0.3s;
}

.demo:hover {
  background-color: #fff !important;
  color: black !important;
}

.code {
  background-color: #fff !important;
  border-color: #6c63ff !important;
  color: black !important;
  margin: 2px;
  transition: 0.2s;
}

.code:hover {
  background-color: #6c63ff !important;
  color: #ffffff !important;
}
